---
layout: blank
---
    <article>
      <header>
        <h2><a href="{{ page.url | prepend: site.baseur }}">{{ page.title }}</a></h2>
        <p>{% if page.date %}<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}</p>
      </header>
      <div>
{{ content }}
      </div>

        <div class="previous_next">
            <div id="prev">
                {%if page.previous%}
                Prev: <a href="{{page.previous.url}}">{{page.previous.title | truncatewords:5}}</a>
                {%endif%}
            </div>
            <div id="next">
                {%if page.next%}
                Next: <a href="{{page.next.url}}">{{page.next.title | truncatewords:5}}</a>
                {%endif%}
            </div>
        </div>

      {% if site.comments.isso and page.comments %}
      <div id="isso-thread"></div>
      {% endif %}
      {% if site.comments.disqus and page.comments %}
      <div id="disqus_thread"></div>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      {% endif %}
    </article>
